$body-bg: #000000;
$primary: #00f867;
$secondary: #a600ff;
$success: #00f867;
$info: #00e5d5;
$warning: #fbcf33;
$danger: #ea0606;
$light: #e9ecef;
$dark: #2c2c2c;
$grey: #8e8e8e;

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular,
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));

$colors: ("primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
);

$color-ranges: (0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);